@import "tailwindcss";

:root {
  --background: hsl(154 50% 7%);
  --foreground: white;
  --crt-red: rgb(255, 0, 100);
  --crt-green: rgb(0, 230, 84);
  --crt-blue: rgb(20, 100, 255);
}

  /* @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  } */

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(154 50% 7%);
    --foreground: white;
  }
}

body {
  background: var(--background);
  /* background: hsl(154 50% 5%); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  height: auto;
  margin-top: 0px;
  
}

h1 {
  font-weight: 1000;
}
